@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&family=Orbitron:wght@400;700;900&display=swap');

@import "tailwindcss";

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth; 
}

@media (hover: hover) and (pointer: fine) {
  body {
    cursor: none;
  }
  
  a, button, .cursor-pointer {
    cursor: none; 
  }
}